@font-face {
  font-family: SevenSegments;
  src: url("/assets/7segments.ttf");
}

* {
    box-sizing: border-box;
    font-size: 1.9rem;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("/assets/background.jpg");
    background-size: cover;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#clock {
    font-size: 22vw;
    font-family: SevenSegments;
    letter-spacing: 2.5vw;
    color: #39ff14;
}

#clock .seconds {
    font-size: 11vw;
}

#weather {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10vh;
    text-align: center;
}

#weather .temp {
    font-size: 15vw;
    font-family: SevenSegments;
}

#weather .unit {
    font-size: 5vw;
}

#weather #apparent {
    color: #40A4FF;
}

#weather #exterior {
    color: #FF8200;
}
